.theme-container.home {
  max-width: 100vw;
  background: linear-gradient(
      to right,
      rgba(67, 67, 67, 0.75) 0%,
      rgba(0, 0, 0, 0.75) 100%
    ),
    url(/img/suka-bumi.jpg), no-repeat center center;

  h1, h2 {
    color: white;
  }

  p, .description {
    color: rgba(255, 255, 255, 0.9);
  }
}
